---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-black text-white">
    <Header />

    <div class="bg-white">
      <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
              Portal - Scaffold Authentication flows with ease. <a href="https://github.com/adonisaddons/portal" class="font-semibold text-purple-600"
                ><span class="absolute inset-0" aria-hidden="true"></span>Read more <span aria-hidden="true">&rarr;</span></a
              >
            </div>
          </div>
          <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Adonis Addons</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">Supercharge your Adonis applications with our suite of packages</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
              <a
                href="#packages"
                class="rounded-md bg-purple-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600"
                >View Packages</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray-100" id="packages">
      <div class="mx-auto max-w-4xl px-6 py-24 sm:py-32 lg:max-w-7xl lg:px-8 lg:py-40">
        <div class="mt-20 grid grid-cols-1 gap-16 sm:grid-cols-2 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16">
          <!-- Package Card -->
          <a class="border p-4 rounded-xl shadow bg-white hover:-translate-y-1 duration-300 hover:shadow-purple-400 hover:shadow-md" href="https://github.com/adonisaddons/docs">
            <div>
              <span class="flex h-12 w-12 bg-purple-500 items-center justify-center rounded-xl border border-purple-300 shadow">
                <svg fill="none" class="h-8 w-8 text-white" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25"
                  ></path>
                </svg>
              </span>
            </div>
            <div class="mt-2">
              <h3 class="text-lg font-semibold leading-8 text-purple-500">Docs</h3>
              <p class="mt-2 text-base leading-7 text-gray-500">Simple command for referencing the adonisjs documentation.</p>
            </div>
          </a>

          <!-- Package Card -->
          <a class="border p-4 rounded-xl shadow bg-white hover:-translate-y-1 duration-300 hover:shadow-purple-400 hover:shadow-md" href="https://github.com/adonisaddons/portal">
            <div>
              <span class="flex h-12 w-12 bg-purple-500 items-center justify-center rounded-xl border border-purple-300 shadow">
                <svg class="h-8 w-8 text-white" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
                </svg>
              </span>
            </div>
            <div class="mt-2">
              <h3 class="text-lg font-semibold leading-8 text-purple-500">Portal</h3>
              <p class="mt-2 text-base leading-7 text-gray-500">Scaffold login, signup, password reset and email verification logic in one package.</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <Footer />
  </body>
</html>
