---
import HeaderLink from "./HeaderLink.astro";
---

<header class="flex items-center justify-between">
  <h1 class="text-4xl">
    Adonis Addons
  </h1>
  <nav class="space-x-4">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="https://twitter.com/dmdboi" target="_blank">Twitter</HeaderLink>
    <HeaderLink href="https://github.com/adonisaddons" target="_blank">GitHub</HeaderLink>
  </nav>
</header>
